/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #0099ff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.maintenance-page {
    background-color: #f5f5f5;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.maintenance-page h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.maintenance-page p {
    font-size: 18px;
    color: #666;
    margin-bottom: 30px;
    line-height: 1.6;
}

.maintenance-page img {
    max-width: 100%;
    height: auto;
}

.more-info-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.more-info-button:hover {
    background-color: #0056b3;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 40px;
}

.navbar a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #007bff;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

header .logo img {
    width: 30px;
    height: auto;
    margin-right: 10px;
}

/* Illustration */
.illustration {
    margin-top: 30px;
}

.illustration img {
    /* max-width: 100%; */
    /* height: auto; */
}
